@import '../../style/variables.scss';

.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;

    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;
    }

    &__item {
        width: 200px;
        height: 318px;
        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }



        &:focus {
            transform: translateY(-8px) scale(1.02);



        }

        &_selected {


            box-shadow: 0 5px 20px 5px $main-color;

        }
    }

    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
    }
}



.modal-enter {
    transform: scale(0);
}

.modal-enter-active {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.modal-enter-done {
    transform: scale(1);
    // transition: all 1000ms;
}



.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}